body {
  margin: 0;
}

.layout {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0d2843 155px, #2980b9);
}

.container {
  background: white;
  width: 300px;
  min-height: 50vh;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
}

header {
  text-align: center;
}

section {
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.list-container {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
}

.styleEl {
  width: 436px;
  position: relative;
  height: 436px;
  background: #ffcc00;
  border-radius: 29% 71% 22% 78% / 57% 72% 28% 43%;
}
