@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

.Seperator .hr {
  width: 100%;
  margin: 0 10px 0;
  border-bottom: 2px solid black;
}

.Seperator {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Seperator span {
  white-space: nowrap;
  font-family: 'Patrick Hand', cursive;
}
