@import url('https://fonts.googleapis.com/css?family=Roboto');

.ToDoList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  color: #0080bc91;
  text-decoration: line-through;
}

.deleteButton {
  background: #006194;
  color: white;
  margin-left: auto;
  border: 0;
  border-radius: 5px;
}

.deleteButton:hover {
  background: #ececec;
  color: #006194;
}

input[type='text'] {
  height: 20px;
  width: 100%;
  font-family: 'Roboto';
  margin-bottom: 20px;
}

.listItem {
  display: flex;
  align-items: flex-end;
  font-family: 'Roboto';
  font-size: 14px;
  width: 290px;
  background: #ffcc00;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

.listItem:nth-child(even) {
  background: #ebe1d3;
}
